

<div>
    <h2>Calculador de Descuento</h2>
  
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" [(ngModel)]="cantidad" />
  
    <label for="precio">Precio:</label>
    <input type="number" id="precio" [(ngModel)]="precio" />
  
    <button (click)="calcularDescuento()">Calcular Descuento</button>
  
    <div *ngIf="descuento > 0">
      <p>Descuento aplicado: {{ descuento | currency }}</p>
      <p>Total a pagar: {{ totalPagar | currency }}</p>
    </div>
  </div>
  
